{% extends "base.html" %}
{% block title %}
Medios Audiovisuales
{% endblock %}
{% block contenido %}
<div class="col-md-10">
  <div class="panel-primary">
    <div class="panel-heading">Listado de acciones asignadas a botonera
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <th>Id</th>
          <th>Tecla </th>
          <th>Acción</th>
          <th>Dispositivo</th>
          <th>Comando</th>
          <th>Parametro</th>
          <th>P. Id</th>
          <th>P.Descripción</th>
          {% if current_user.is_authenticated and current_user.is_admin()  %}
          <th>Modificar</th>
          <th>Borrar</th>
          {% endif %}   
          {% if current_user.is_authenticated %}
          {% endif %}
        </tr>
        {% for b in botones %}
        <tr>
          <td>{{b.id}}</td>
          <td>{{b.tecla}}</td>
          <td>{{b.accion}}</td>
          <td>{{b.parametro.comando.dispositivo.nombre}}</td>
          <td>{{b.parametro.comando.codigo}}</td>
          <td>{{b.parametro.valor}}</td>
          <td>{{b.parametro.id}}</td>
          <td>{{b.parametro.descripcion}}</td>
          {% if current_user.is_authenticated and current_user.is_admin()  %}
          <td><a href="{{url_for('accion_boton_edit',id=b.id)}}"><span class="glyphicon glyphicon-wrench"></span> Modificar</a></td>
          <td><a href="{{url_for('accion_boton_delete',id=b.id)}}"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      <hr>
      <a class="btn btn-default" href="{{url_for('accion_boton_new')}}" role=button> Nueva acción</a> 
      <hr>    
    </div>
  </div>
</div>
{% endblock %}
