{% extends "base.html" %}
{% block title %}
Medios Audiovisuales
{% endblock %}
{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h3>Dispositivos</h3>  
      <div class="list-group">      
        {% for cat in categorias %}
        {% if categoria.nombre==cat.nombre%}
        <a class="list-group-item active" href="{{url_for('inicio',id=cat.id)}}">{{cat.nombre}}</a>
        {% else %}
        <a class="list-group-item" href="{{url_for('inicio',id=cat.id)}}">{{cat.nombre}}</a>
        {% endif%}
        {% endfor %}
        
      </div>
      <br/>
      {% if current_user.is_authenticated and current_user.is_admin()  %}
      <h4>Botonera</h4>
      <a class="btn btn-primary" href="{{url_for('accion_boton_new')}}" role="button">Nueva acción de botón</a>
      <br><br>
      <h4>Parámetros</h4>
      <a class="btn btn-primary" href="{{url_for('parametros')}}" role="button">Parámetros</a>
      <br><br>
      <h4>Descargar logs</h4>
      <a class="btn btn-primary" href="{{url_for('descargar_log_web')}}" role="button">Log web</a><br><br>
      <a class="btn btn-primary" href="{{url_for('descargar_log_botonera')}}" role="button">Log botonera</a> 
      {% endif %}
      <br/>
    </div>
    <div class="col-md-10">
      <div id="loading" class="d-flex p-2"><br>  Cargando dispositivo...
      </div>
      <h3>Asignación de la botonera</h3>
      <div class="panel panel-default">
        <table class="table table-bordered">
          <tr>
            <th>id</th>
            <th>Tecla </th>
            <th>Acción</th>
            <th>ParametroId</th>
            <th>P.Descripción</th>
            {% if current_user.is_authenticated and current_user.is_admin()  %}
            <th>Modificar</th>
            <th>Borrar</th>
            {% endif %}   
            {% if current_user.is_authenticated %}
            {% endif %}
          </tr>
          {% for b in botones %}

          <tr>
            <td>{{b.id}}</td>
            <td>{{b.tecla}}</td>
            <td>{{b.accion}}</td>
            <td>{{b.ParametroId}}</td>
            <td>{{listaparametros[b.ParametroId]}}</td>
            {% if current_user.is_authenticated and current_user.is_admin()  %}
            <td><a href="{{url_for('accion_boton_edit',id=b.id)}}"><span class="glyphicon glyphicon-wrench"></span> Modificar</a></td>
            <td><a href="{{url_for('accion_boton_delete',id=b.id)}}"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
            {% endif %}
          </tr>
          {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
      $(document).ready(function(){
        $(".load-device").click(function(e){
          $("#loading").show();
        })
      });
    </script>

    {% endblock %}
