{% extends "base.html" %}
{% block title %}
Medios Audiovisuales
{% endblock %}
{% block contenido %}
<div class="col-md-10">
  <div class="panel-primary">  
    <div class="panel-heading">Botonera de control</div>
      <div class="panel-body">
        <table class="table-borderless">
          
          <tr>
            {% for b in range(1,6) %}
            <td class="borderless" width="120">
              <form id="form-boton-{{b}}" method="POST" class="form-group" >
                <input type="hidden" name="boton" value="{{b}}">
                <input type="button" id="boton-{{b}}" value="{{nombres_botones[b]}}" style='width:200px;'>
              </form>
            </td>
            {% endfor %}
          </tr>
          <tr>
            {% for b in [6,7,8,9,0] %}
            <td class="borderless" width="120">
            <form id="form-boton-{{b}}" method="POST" class="form-group">
              <input type="hidden" name="boton" value="{{b}}">
              <input type="button" id="boton-{{b}}" value="{{nombres_botones[b]}}" style='width:200px;'>
            </form>
            </td>
            {% endfor %}
            </tr>
          </table>
          <hr>
          <a class="btn btn-primary" href="{{url_for('acciones_botonera')}}" role=button> Acciones asignadas</a>
          <a class="btn btn-primary" href="{{url_for('accion_boton_new')}}" role=button> Nueva acción</a>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
      $(document).ready(function(){
        {% for b in range(10) %}
        $("#boton-{{b}}").click(function(e){
          e.preventDefault();
          const data = new FormData($('#form-boton-{{b}}')[0])
          $.ajax({
            url: '/pulsar_boton/',
            type: 'POST',
            data: data,
            processData: false,
            contentType: false,
            success: function(data){
              console.log("Acciones de botón enviadas")},
            error: function(error){
              console.log("Error");
            } 
          });
          return false;
          alert("form enviado");
        });

        {% endfor %}
      });
    </script>

    {% endblock %}
    