{% extends "base.html" %}
{% block title %}
Medios Audiovisuales
{% endblock %}
{% block contenido %}
<div class="col-md-10">
  <div class="panel-primary">
    <div class="panel-heading">Listado de comandos
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <th>Id</th>
          <th>Descripción </th>
          <th>Código</th>
          <th>Id dispositivo</th>
          <th>Nombre dispositivo</th>
          {% if current_user.is_authenticated and current_user.is_admin()  %}
          <th>Modificar</th>
          <th>Borrar</th>
          {% endif %}   
          {% if current_user.is_authenticated %}
          {% endif %}
        </tr>
        {% for c in comandos %}
        <tr>
          <td>{{c.id}}</td>
          <td>{{c.descripcion}}</td>
          <td>{{c.codigo}}</td>
          <td>{{c.DispositivoId}}</td>
          <td>{{c.dispositivo.nombre}}</td>
          {% if current_user.is_authenticated and current_user.is_admin()  %}
          <td><a href="{{url_for('comandos_edit',id=c.id)}}"><span class="glyphicon glyphicon-wrench"></span> Modificar</a></td>
          <td><a href="{{url_for('comandos_delete',id=c.id)}}"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      <hr>
      <a class="btn btn-default" href="{{url_for('comandos_new')}}" role=button> Nuevo comando</a> 
      <hr>
    </div>
  </div>
</div>
{% endblock %}
