{% extends "base.html" %}
{% block title %}Medios Audiovisuales{% endblock %}
{% block contenido %}
<div class="col-md-10">
  <div class="panel-primary">  
    <div class="panel-heading">Crear nuevo comando asignado a un dispositivo</div> 
    <div class="panel-body">
    {% for field, errors in form.errors.items() %}
      <div class="alert alert-danger">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
    {% endfor %}
      <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group row">
          {{form.DispositivoId.label(class="col-sm-12 col-form-label") }}
          <div class="col-md-6">
          {{form.DispositivoId(class="form-control")}}
          </div>
          <br>
        </div>
        <div class="form-group row">
          {{form.codigo.label(class="col-sm-12 col-form-label") }}
          <div class="col-md-6">
            {{form.codigo(size="1",class="form-control")}}
          </div>
        </div>
        <br>
        <div class="form-group row">
          {{form.descripcion.label(class="col-sm-12 col-form-label") }}
          <div class="col-md-10">
            {{form.descripcion(size="100",class="form-control")}}
          </div>
          <br>
        </div>
        <br>
        
        <div class="form-group row">
          <div clas="col-md-10">
            {{form.submit(class="btn btn-primary ")}}
          </div>
        </div>
    </form>
    <br>
    </div>
  </div>
</div>  
{% endblock %}