{% extends "base.html" %}
{% block title %}
Medios Audiovisuales
{% endblock %}
{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h3>Categorias</h3>  
      <div class="list-group">      
        {% for cat in categorias %}
        {% if categoria.nombre==cat.nombre%}
        <a class="list-group-item active" href="{{url_for('inicio',id=cat.id)}}">{{cat.nombre}}</a>
        {% else %}
        <a class="list-group-item" href="{{url_for('inicio',id=cat.id)}}">{{cat.nombre}}</a>
        {% endif%}
        {% endfor %}
        
      </div>
      <br/>
      {% if current_user.is_authenticated and current_user.is_admin()  %}
      <a class="btn btn-primary" href="{{url_for('dispositivo_new')}}" role="button">Nuevo dispositivo</a>
      <br><br>
      <p>Descargar logs:</p>
      <a class="btn btn-primary" href="{{url_for('descargar_log_web')}}" role="button">Log web</a><br><br>
      <a class="btn btn-primary" href="{{url_for('descargar_log_botonera')}}" role="button">Log botonera</a> 
      {% endif %}
      <br/>
    </div>
    <div class="col-md-10">
      <div id="loading" class="d-flex p-2"><br>  Cargando dispositivo...
      </div>
      <h3>Dispositivos del aula ({{categoria.nombre}})</h3>
      <div class="panel panel-default">
        <table class="table table-bordered">
          <tr>
            <th></th>
            <th>id</th>
            <th>Nombre </th>
            <th>Categoría</th>
            <th>Descripción Modelo</th>
            <th>Fichero Modelo</th>
            <th>Puerto</th>
            {% if current_user.is_authenticated and current_user.is_admin()  %}
            <th>Modificar</th>
            <th>Borrar</th>
            {% endif %}   
            {% if current_user.is_authenticated %}
            {% endif %}
          </tr>
          {% for disp in dispositivos %}

          <tr>
            {% if disp.imagen %}
            <td><a href="{{url_for('dispositivo',id=disp.id)}}" class="load-device"><img src="{{url_for('static',filename='img/')}}{{disp.imagen}}"/ width="120"></a>
              {% else %}
              <td><a href="{{url_for('dispositivo',id=disp.id)}}" class="load-device"><img src="{{url_for('static',filename='img/not-found.png')}}" width="120" /></a>
                {% endif %}
                <td>{{disp.id}}</td>
                <td>{{disp.nombre}}</td>
                <td>{{disp.categoria.nombre}}</td>
                <td>{{disp.descripcion}}</td>
                <td>{{disp.archivoHTML}}</td>
                <td>{{disp.puerto}}</td>
                {% if current_user.is_authenticated and current_user.is_admin()  %}
                <td><a href="{{url_for('dispositivo_edit',id=disp.id)}}"><span class="glyphicon glyphicon-wrench"></span> Modificar</a></td>
                <td><a href="{{url_for('dispositivo_delete',id=disp.id)}}"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
                {% endif %}
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
      $(document).ready(function(){
        $(".load-device").click(function(e){
          $("#loading").show();
        })
      });
    </script>

    {% endblock %}