{% extends "base.html" %}
{% block title %}Control de medios del aula{% endblock %}
{% block contenido %}
  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<!-- 
<script type=text/javascript>
  $(function() {
    $('a#mute_on_button').bind('click', function() {
      $.getJSON('/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script> -->



  <p>Estado: <span id="mute_status">{{mute_status}}</span>
  <button id="mute_on_button" class="command command-mute_on" value="mute_on"> MUTE ON </button>
  <button id="mute_off_button" class="command command-mute_off" value="mute_off"> MUTE OFF </button>
  </p>
  <br>
  
  <p>Volumen general: <span id="master_status">{{master_status}}</span>
  <button class="command command-master_vol_up" value="master_vol_up"> + </button>
  <button class="command command-master_vol_down" value="master_vol_down"> - </button>
  </p>
  <br>

  <p>Volumen de micro: <span id="mic_status">{{mic_status}}</span>
  <button class="command command-master_vol_up" value="mic_vol_up"> + </button>
  <button class="command command-master_vol_down" value="mic_vol_down"> - </button>
  </p>
  <br>

  <p>Volumen de línea 1: <span id="line1_status">{{line1_status}}</span>
  <button class="command command-master_vol_up" value="line1_vol_up"> + </button>
  <button class="command command-master_vol_down" value="line1_vol_down"> - </button>
  </p>
  <br>
  <button type='submit' value='Submit' id='submit'>comprobar estado</button>
  <div id= "results"></div>

{# and then elsewhere #}
<script>
// Only run what comes next *after* the page has loaded
addEventListener("DOMContentLoaded", function() {
  // Grab all of the elements with a class of command
  var commandButtons = document.querySelectorAll(".command");
  for (var i=0, l=commandButtons.length; i<l; i++) {
    var button = commandButtons[i];
    // For each button, listen for the "click" event
    button.addEventListener("click", function(e) {
      // When a click happens, stop the button
      // from submitting our form (if we have one)
      e.preventDefault();

      var clickedButton = e.target;
      var command = clickedButton.value;

      // Now we need to send the data to our server
      // without reloading the page - this is the domain of
      // AJAX (Asynchronous JavaScript And XML)
      // We will create a new request object
      // and set up a handler for the response
      var request = new XMLHttpRequest();
      request.onload = function() {
          // We could do more interesting things with the response
          // or, we could ignore it entirely
          // alert(request.responseText);
          // document.getElementById('mute_status').innerHTML = "XXXX"
      };
      // We point the request at the appropriate command
      request.open("GET", "/" + command, true);
      // and then we send it off
      request.send();
      request.onreadystatechange = function(){
        if (request.readystate == 4 && request.status == 200){
          document.getElementById('mute_status').innerHTML = "ASDF"
        }
      }
    });
  }
}, true);
</script>


<script>
  function check_mixer_status() {
    $.ajax({ 
    url: '/mixer_status',
    success: function(data) {
      $('#mute_status').html(JSON.stringify(data.mute_status, null, ''));
      $('#master_status').html(JSON.stringify(data.master_status, null, ''));
      $('#mic_status').html(JSON.stringify(data.mic_status, null, ''));
      $('#line1_status').html(JSON.stringify(data.line1_status, null, ''));

    }
  });  // Call the URL check_mixer_status
  }   // 

  // When the document has finished loading:
  $(document).ready(function(){
    $('.command').click( function() {         // When the div with ID 'submit' is clicked
      check_mixer_status(); // call check_mixer_status with the contents of text_input
    });

  });
</script>


{% endblock %}