{% extends "base.html" %}
{% block title %}{{device_name}}{% endblock %}
{% block contenido %}

  <h2>Mezclador: {{device_name}}</h2>
  <p>Mute: <span id="mute_status">{{mute_status}}</span>
  <button id="mute_on_button" class="command command-mute_on" value="mute_on"> MUTE ON </button>
  <button id="mute_off_button" class="command command-mute_off" value="mute_off"> MUTE OFF </button>
  <ul>Volumen
      <li>
        General: <span id="master_status">{{master_status}}</span>
        <button class="command command-master_vol_up" value="master_vol_up"> + </button>
        <button class="command command-master_vol_down" value="master_vol_down"> - </button>
      </li>
      <li>
        Micro: <span id="mic_status">{{mic_status}}</span>
        <button class="command command-master_vol_up" value="mic_vol_up"> + </button>
        <button class="command command-master_vol_down" value="mic_vol_down"> - </button>
      </li>
      <li>
        Línea 1: <span id="line1_status">{{line1_status}}</span>
        <button class="command command-master_vol_up" value="line1_vol_up"> + </button>
        <button class="command command-master_vol_down" value="line1_vol_down"> - </button>
      </li>
   </ul>
  <br>
    <button type='submit' value='Submit' id='submit'>Refrescar valores</button>
  <div id= "results"></div>

<!-- Aquí van los scripts -->

<script> // Comprueba los valores del dispositivo y los actualiza en pantalla
  function mixer_command(cmd){ // envía el comando y actualiza los valores
    $.ajax({
      url: '/mezclador/' + cmd,
      success: check_mixer_status()
    })
  } 

  function check_mixer_status(){
    $.ajax({ 
    url: '/mezclador/status',
    success: function(data){
      $('#mute_status').html(JSON.stringify(data.mute_status, null, ''));
      $('#master_status').html(JSON.stringify(data.master_status, null, ''));
      $('#mic_status').html(JSON.stringify(data.mic_status, null, ''));
      $('#line1_status').html(JSON.stringify(data.line1_status, null, ''));

    }
  });
  }

 

  // Una vez cargado todo el documento
  $(document).ready(function(){
    var commandButtons = document.querySelectorAll(".command");
    // Se extraen los botones de la clase command
    for (var i=0, l=commandButtons.length; i<l; i++) {
      var button = commandButtons[i];
      // para cada clic de botón se extrae el nombre del comando y se ejecuta la función de envío.
      $(button).click( function(e) {  
      e.preventDefault();          
      var clickedButton = e.target;
      var command = clickedButton.value;
      mixer_command(command);
    });

  }});
</script>

{% endblock %}