{% extends "base.html" %}
{% block title %}
Medios Audiovisuales
{% endblock %}
{% block contenido %}
<div class="col-md-10">
  <div class="panel-primary">  
    <div class="panel-heading">Listado de parámetros
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <th>Id</th>
          <th>Descripción </th>
          <th>Valor</th>
          <th>Comando</th>
          <th>Desc. comando</th>
          <th>Dispositivo</th>
          {% if current_user.is_authenticated and current_user.is_admin()  %}
          <th>Modificar</th>
          <th>Borrar</th>
          {% endif %}   
          {% if current_user.is_authenticated %}
          {% endif %}
        </tr>
        {% for p in parametros %}

        <tr>
          <td>{{p.id}}</td>
          <td>{{p.descripcion}}</td>
          <td>{{p.valor}}</td>
          <td>{{p.comando.codigo}}</td>
          <td>{{p.comando.descripcion}}</td>
          <td>{{p.comando.dispositivo.nombre}}</td>
          {% if current_user.is_authenticated and current_user.is_admin()  %}
          <td><a href="{{url_for('parametros_edit',id=p.id)}}"><span class="glyphicon glyphicon-wrench"></span> Modificar</a></td>
          <td><a href="{{url_for('parametros_delete',id=p.id)}}"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      <hr>
      <a class="btn btn-default" href="{{url_for('parametros_new')}}" role=button> Nuevo parámetro</a> 
      <hr>
    </div>
  </div>
</div>    
{% endblock %}
